* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 23px 40px;
    background-color: #bdccea;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

ul.links {
    list-style-type: none;
    display: flex;
    gap: 35px;
    font-size: 30px;
}

a.plainAnch {
    text-decoration: none;
    color: black;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px 20px;
    font-size: 70px;
    background-color: #e9ecf0;
}

.bannerLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.myPic {
    width: 390px;
    height: auto;
    border-radius: 80px;
}

.shortDesc {
    font-size: 29px;
}

.sections {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 450px;
    margin-bottom: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h5.titles {
    padding-top: 70px;
    padding-bottom: 13px;
    font-size: 55px;
    font-weight: 600;
}

h5.offset {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}

p,
.projList {
    font-size: 28px;
}

.projList {
    padding-top: 30px;
    margin-left: 75px;
}

.projList > li {
    padding-bottom: 13px;
}

.copyEmail {
    padding:10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
}